body {
    margin-left: 10%;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    min-width: 250px;
    max-width: 50%;
    text-align: center;
}

.about > p {
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    text-align: center;
    min-width: 250px;
    max-width: 50%;
    align-items: center;
    gap: 35px;
}

form > section {
    text-align: center;
    border: 1px solid black;
    border-radius: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    width: 400px;
    /* padding: 5%; */
}

.form-top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
    padding-bottom: 2.5%;
}

.form-top > button {
    margin-left: 35%;
}

.form-title {
    font-style: italic;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}