body {
    padding: 2.5%;
    margin-left: 15%;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    min-width: 250px;
    max-width: 50%;
    text-align: center;
}

.about > p {
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    text-align: center;
    min-width: 250px;
    max-width: 50%;
    align-items: center;
    gap: 35px;
}

form > section {
    text-align: center;
    border: 1px dashed black;
    width: 400px;
    padding: 5%;
}